EXPO_PUBLIC_API_URL=https://bookshelfapi.buffingchi.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=648904540482-adeo13bqnptm6044dkg0168n7706lhnt.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=648904540482-07ckrnvv97q5if96fh3sjjj2kmet306n.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-android-client-id.apps.googleusercontent.com
EXPO_PUBLIC_SENTRY_DSN=your-sentry-dsn-here
EXPO_PUBLIC_ENVIRONMENT=development
